/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background: rgb(112,128,146);
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
h1, p{
  color: white;
}

.button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
}

/*Box Colors */
.flex-container
{
  display: flex;
}
.box{
  margin: 2.5px;
  padding: 70px;
  border-radius: 5%;
  box-shadow: 2px 2px black;
  cursor: pointer;
}
.box:active{
  filter:brightness(1%);
}
.active{
  filter: contrast(800%);
}
#green{
  background: rgb(144,237,144);
}
#green:active{
  background: rgb(144,237,155);
}
#blue{
  background: rgb(174,215,229);
}
#red{
  background: rgb(255,192,203);
}
#yellow{
  background: rgb(255,255,224);
}
